<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/patholog">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="1"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.SQLServerDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<!-- <property name="mappingResources"> <list> <value>com/flp/hib/Leaf.hbm.xml</value> 
			<value>com/flp/hib/Users.hbm.xml</value> <value>com/flp/hib/Hospital.hbm.xml</value></list> 
			</property> -->
		<property name="mappingLocations">
			<list>
				<value>classpath:/com/pathology/entity/*.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="ht" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="pt" abstract="true">
		<property name="hibernateTemplate" ref="ht"></property>
	</bean>
	<bean id="udao" class="com.pathology.dao.impl.UserDaoImpl" parent="pt" />
	<bean id="ldao" class="com.pathology.dao.impl.LeafDaoImpl" parent="pt" />
	<bean id="hdao" class="com.pathology.dao.impl.HospitalDaoImpl" parent="pt" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="serv" class="com.pathology.service.impl.LeafServImpl">
		<property name="udao" ref="udao"></property>
		<property name="ldao" ref="ldao"></property>
	</bean>
	<bean id="userserv" class="com.pathology.service.impl.UsersServImpl">
		<property name="udao" ref="udao"></property>
	</bean>
	<bean id="hosserv" class="com.pathology.service.impl.HospitalServImpl">
		<property name="hdao" ref="hdao"></property>
	</bean>
	<bean id="leafAction" class="com.pathology.action.LeafAction" scope="prototype">
		<property name="serv" ref="serv"></property>
	</bean>
	<bean id="usersAction" class="com.pathology.action.UsersAction" scope="prototype">
		<property name="userserv" ref="userserv"></property>
	</bean>
	<bean id="hospitalAction" class="com.pathology.action.HospitalAction"
		scope="prototype">
		<property name="hosserv" ref="hosserv"></property>
	</bean>
</beans>