/*diag style相关的CSS*/
.right {
  float: right;
}

.in-box-bl {
  width: 100%;
  min-height: 58px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.inbox-0 {
  position: relative;
}

.in-box-bl .title {
  width: 100%;
  height: 58px;
  cursor: pointer;
  border-bottom: 0;
  border-radius: 5px 5px 0px 0px;
  text-indent: 2em;
  line-height: 55px;
}

.in-box-bl .title span {
  font-size: 20px;
}

.in-box-bl .inbox {
  min-height: 175px;
  padding-left: 30px;
  padding-right: 30px;
}

.in-box-bl a {
  text-decoration: none;
  color: #000;
}

.show-history {
  width: 98px;
  margin-right: 25px;
  color: #9d9d9d;
  background: url("../img/showhis2_1.png") no-repeat left center;
}

.export {
  width: 98px;
  margin-right: 25px;
  color: #9d9d9d;
  background: url("../img/showhis2_1.png") no-repeat left center;
}

.print {
  width: 98px;
  margin-right: 25px;
  color: #9d9d9d;
  background: url("../img/showhis2_1.png") no-repeat left center;
}

.share {
  width: 98px;
  margin-right: 25px;
  color: #9d9d9d;
  background: url("../img/showhis2_1.png") no-repeat left center;
}

.logo-title {
  text-align: center;
  width: 100%;
  height: 36px;
  position: relative;
}

.logo-title span {
  font-size: 26px;
  letter-spacing: 0.05em;
}

.pl-subtitle {
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
}

.report-list {
  min-height: 24px;
  padding-bottom: 10px;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 10px;
}

.report-list tr {
  height: 25px;
}

.report-list tr td {
  font-weight: bold;
}

.report-list tr td span {
  font-weight: normal;
}

.inbox-detail-list {
  width: 100%;
  min-height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inbox-detail-list span {
  font-size: 14px;
}

.report-title {
  width: 100%;
  height: 34px;
  font-weight: bold;
}

.inbox-list {
  width: 100%;
  min-height: 24px;
  padding-bottom: 20px;
  font-size: 14px;
}