/*diag theme相关的CSS*/
.fl_r .title .left {
  color: #63B8FF;
}

.fl_r .title .icon_right {
  border: solid 1px #7e8183;
}

.in-box-bl {
  background: #ffffff;
  border: 1px solid #dddddd;
}

.in-box-bl .title {
  background: #ececec;
}

.in-box-bl .title .left {
  color: #63B8FF;
}

.in-box-bl .title .icon_right {
  border: solid 1px #7e8183;
}

.logo-title span {
  color: #3176ec;
}